name: All Contributors

on:
    push:
    pull_request:
    schedule:
        - cron: '0 0 * * 0'
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - name: Contributors (All)
              uses: lowlighter/metrics@latest
              with:
                  token: ${{ secrets.METRIC_TOKEN }}
                  user: raj8664
                  repo: Prep
                  base: ''
                  template: repository
                  filename: metrics.plugin.contributors.svg
                  plugin_contributors: yes
                  plugin_contributors_sections: contributors
                  plugin_contributors_base: main
